PORT=
API_ENDPOINT_URL=
SITE_URL_LOCALHOST=
SITE_URL_LIVE=
REDIS_HOST=

# Database URI Link
DATABASE_URL=

# Server Secret Keys
PUBLIC_ACCESS_TOKEN_SECRET=
PRIVATE_ACCESS_TOKEN_SECRET=
PUBLIC_PENDING_TOKEN_SECRET=
PRIVATE_PENDING_TOKEN_SECRET=
PUBLIC_OTP_EXPIRE_SECRET_KY=
PRIVATE_OTP_EXPIRE_SECRET_KY=
PUBLIC_REFRESH_TOKEN_SECRET=
PRIVATE_REFRESH_TOKEN_SECRET=
PUBLIC_FORGET_PASSWORD_SECRET_KY=
PRIVATE_FORGET_PASSWORD_SECRET_KY=

# CLOUDINARY CLOUD
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
